@model IEnumerable<LibraryDemo.Models.BookModel>

<h2>Books</h2>

<ul>
    @foreach (var book in Model)
    {
        <li>
            @book.Title
            <a asp-action="Details" asp-route-id="@book.BookId">View</a>
        </li>
    }
</ul>