@{
    ViewData["Title"] = "Login";
}

<h2>Login</h2>

<form method="post" action="/Account/Login">

    <div>
        <label>Username</label>
        <input type="text" name="username" />
    </div>

    <br>

    <button type="submit">Login</button>

</form>

<a href="/Students/Index">Back to Students Page</a>